:root{
    --amarelo: #C78C19;
}

header {
    background: #BBBBBB;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

nav {
    margin: auto 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: var(--amarelo);
}

#produtos {
    display: flex;
    justify-content: center;
}

#produtos li {
    text-align: center;
    vertical-align: top;
    width: 20%;
    margin: 40px 1%;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

#produtos li:hover {
    border-color: var(--amarelo);
    margin: 25px 1% 30px 1%;
}

#produtos li:hover h2 {
    font-size: 34px;
}

#produtos li:hover .prod-descricao {
    font-size: 20px;
}

#produtos li:hover .prod-preco {
    font-size: 24px;
}

#produtos h2 {
    font-weight: bold;
    font-size: 30px;
}

.prod-descricao {
    font-size: 18px;
}

.prod-preco {
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}